# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs

# backup folders
**/recipes_backup_*/
**/recipes_backup_*


# temp files
temp/
temp.sh